body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;
}

$day-size: 100px;
$gap: 1px;
$columns: 7;
$calendar-padding: 10px;
$days-width: $day-size * $columns;
$gaps-width: $gap * ($columns - 1);
$paddings: $calendar-padding * 2;
$calendar-width: $days-width + $gaps-width + $paddings;

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  box-sizing: border-box;
  width: $calendar-width;
  padding: $calendar-padding;

  @each $day, $index in (mon: 0, tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun: 6)
  {
    &--start-day-#{$day} .calendar__day:first-child {
      margin-left: ($day-size + $gap) * $index;
    }
  }

  @for $length from 28 through 31 {
    &--month-length-#{$length} .calendar__day:nth-child(n + #{$length + 1}) {
      display: none;
    }
  }

  &__day {
    box-sizing: inherit;
    width: $day-size;
    height: $day-size;
    border: 1px solid #000;

    background-color: #eee;

    transition:
      background-color 0.5s,
      transform 0.5s;

    @for $day from 1 through 31 {
      &:nth-child(#{$day})::before {
        content: '#{$day}';

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        font-family: Arial, sans-serif;
        font-size: 30px;
      }
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-20px);
      background-color: #ffbfcb;
    }
  }
}
